# SSG 生成的文件所在目录
public

# Node.js
node_modules

# Hugo
resources
content/not
content/draft
content/blog_static

# Hexo
db.json
.deploy*
*.log

# macOS 系统
.DS_Store

# 老版本的 Windows 系统
Thumbs.db

# ipfs-deploy
.env


